@model List<BlogListModel>
@{
    ViewData["Title"] = "View";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<a asp-action="CreateBlog" asp-controller="Blog" asp-area="Admin" class="btn btn-sm btn-info">Yeni Blog Yaz</a>
<table class="table table-bordered table-hover">
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Title</td>
                <td>
                    <a class="btn btn-sm btn-warning" asp-action="UpdateBlog" asp-route-id="@item.Id"> Düzenle
                        
                    </a>
                    <a class="btn btn-sm btn-danger" asp-action="DeleteBlog" asp-route-id="@item.Id">
                        Sil
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
