@model CategoryUpdateModel

<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Kategori İşlemleri</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form method="post" asp-action="CreateCategory" class="p-3">
            <div class="modal-body">
                <div class="form-group">
                    <label asp-for="Name">Kategori Adı :</label>
                    <input class="form-control" asp-for="Name">
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success">Kaydet</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Vazgeç</button>
            </div>
        </form>
    </div>
</div>