<!DOCTYPE html>
<html lang="tr">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Nisanur Bulut">

    <title>Medusa</title>
    <link rel="icon" href="~/favicon.ico" type="image/x-icon">
    <!-- Bootstrap core CSS -->
    <link href="/css/bootswatch/simplex/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/site.css" rel="stylesheet">

</head>

<body>


    <!-- Page Content -->
    <div class="container" id="main">
        <div class="row">
            <!-- Blog Entries Column -->
            <div class="col-md-12">
                <div class="my-4">
                    @RenderBody()
                </div>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->
    <!-- Bootstrap core JavaScript -->
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
